<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<h2>Welcome <%= accountData.account_firstname %></h2>
<p>You're logged in</p>
<p><a href="/account/update/<%= accountData.account_id %>" title="Update your account">Update Account Information</a></p>
<% if (accountData.account_type === "Employee" || accountData.account_type === "Admin") { %>
  <h3>Inventory Management</h3>
  <p><a href="/inv/" title="Go to Manage Inventory">Manage Inventory</a></p>
  <% } %>